<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% if (locals.profile_user_id) { %>
        <% if (locals.session_user_id) { %>
            <% if (session_user_id == profile_user_id) { %>
                <title>My timeline | MiniTwit</title>
            <% } else { %>
                <title><%= profile_username %>'s timeline | MiniTwit</title>
            <% } %>
        <% } %>
    <% } else { %>
        <% if (locals.myFeed) { %>
            <title>My feed | MiniTwit</title>
        <% } else { %>
            <title>Public timeline | MiniTwit</title>
        <% } %>

    <% } %>
    <link rel=stylesheet type=text/css href="style.css">
</head>

<div class=page>
    <a href="/"><h1>MiniTwit</h1></a>
    <div class=navigation>
        <% if (locals.session_username) { %>
        <a href="/<%= session_username %>">my timeline</a> |
        <a href="/public">public timeline</a> |
        <a href="/logout">sign out [<%= session_username %>]</a>
        <% } else { %>
        <a href="/public">public timeline</a> |
        <a href="/register">sign up</a> |
        <a href="/login">sign in</a>
        <% } %>
    </div>
    <% if (locals.flashes) { %>
        <ul class=flashes>
        <% flashes.forEach( flash => { %>
            <li><%= flash %></li>
        <% }) %>
        </ul>
    <% } %>
    <div class=body>